:root {
    --leftEyePositionLeft: 2;
    --leftEyePositionTop: 2;
    --rightEyePositionHelperX: calc((24 - var(--leftEyePositionLeft) - var(--leftEyePositionTop))/1.414);
    --rightEyePositionHelperY: calc((var(--leftEyePositionLeft) - var(--leftEyePositionTop))/1.414);
    --rightEyePositionLeft: calc((var(--rightEyePositionHelperX) + var(--rightEyePositionHelperY))/1.414);
    --rightEyePositionTop: calc((var(--rightEyePositionHelperX) - var(--rightEyePositionHelperY))/1.414);
}

body {
    background: #f5f0e8;
    margin: 0px;
    display: block;
}   

.eye {
    position: relative;
    left: 3vw;
    bottom: -7.5vw;
    width: 21vw;
    height: 20vw;
    border: 5px solid hsl(37, 21%, 54%);
    
    background-image: radial-gradient( whitesmoke 90%, red);
    border-radius: 0px 15vw;
    transform: rotate(90deg);
    overflow: hidden;
    z-index: 4;
    
   
/* change the transition in short form */
}
.eyelid {
    position: absolute;
    left: -11vw;
    bottom: -9vw;
    width: 21vw;
    height: 20vw;
    border: 5px solid hsl(37, 21%, 54%);
    background-color: #f5f0e8;
    border-radius: 0px 15vw;
    transform: rotate(0deg);
    transition-property: all;
    transition-duration: 0.8s;
    transition-delay: 0.05s;
    transition-timing-function: ease-out;
}

.eyelid.closed {
    left: -1vw;
    bottom: -1vw;
}

.eyebrows {
    
    position: absolute;
    left: 24vw;
    bottom: 45vh;
    width: 20vw;
    height: 20vw;
    border: 0.5vw solid #674f04;
    border-radius: 30vw 5vw;
    border-bottom: transparent;
    background: #a28f70;
    transform: rotate(54deg);
    z-index: 2;

}
.eyebrows::after {
    content: "";
    border: 10px solid #674f04;
    width: 21vw;
    height: 16vw;
    z-index: 3;
    border-radius: 435px 9px 0px 0px;
    position: absolute;
    left: -1vw;
    bottom: 0vw;
    background: #f5f0e8;
    border-bottom: #f5f0e8;
    border-right: #f5f0e8;
}

.right {
    left: 58vw;
    transform: rotate(306deg) rotateY(178deg);
}

.innerEye {
    width:7vw;
    height: 7vw;
    border-radius: 50%;
    background-image: radial-gradient( black 20%, blue 60%);
    position: relative;
    left: calc(var(--leftEyePositionLeft) * 1vw);
    top: calc(var(--leftEyePositionTop) * 1vw);

}

.innerEye.right {
    left: calc(var(--rightEyePositionLeft) * 1vw);
    top: calc(var(--rightEyePositionTop) * 1vw);
}
 
.shine {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: radial-gradient( white 20%, transparent 60%);
    position: relative;
    left: 0vw;
    top: 2vw;
} 
.shine.right {
    left: 3vw;
    top: 2.5vw;
}
