.bo{
    background: transparent;
    height: 0px;
    width: 0;
    border: 30px solid rgba(18, 60, 68, 0.373);
    border-right: 30px solid transparent;
    border-radius: 10px;
    position: relative;
    left: 18.25%;
    bottom: 94.34%;
  }
  .t {
    position: relative;
    left: 0px;
    top: -50%;
    height: 0;
    width: 0;
    border: 100px solid transparent;
    border-right: 100px solid rgba(18, 60, 68, 0.373)

  }
  .ci {
    position: relative;
    width: 45%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 10px solid rgba(18, 60, 68, 0.373);
    background: transparent;
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent; 
  }
  .a{
    width: 72.23%;
    height: 72.23%;
  }
  .b{
    width: 61.54%;
    height: 61.54%
  }
  .c{
    left: 56.25%;
    transform: translate(-50%,-50%) rotate(-45deg)
  }

  .button {
    position: absolute;
    right: 0px;
    bottom: 5px;
    height: 300px;
    width: 400px;
    background: rgba(0, 0, 25, 0.336);
    border: 5px solid rgb(181, 174, 174);
    transition: all 0.2s ease-in;
    border-radius:20%;
    z-index: 40;
  }

  .button:hover {
    box-shadow: 0px 20px 20px 2px rgb(0 0 0 / 56%);
    transform: translateY(-6px);
  }

  .ci.c{
    transition: all 0.2s ease-in;
  }
  .unmuted {
    box-shadow: 20px 19px 20px 0px #fffcfc9c;
  }
  

  /* replay */

  .replay-container{
    position: absolute;
    width: 200px;
    height: 150px;
    right: 500px;
  }
  .tri{
    width:0px;
    height:0px;
    border: 30px solid rgb(80 106 111);
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: relative;
    top: -95%;
    left: 70%;
    transform: rotate(30deg);
  }

  
  
  .replay-circle {
    position: relative;
    width: 50%;
    height: 66.66%;
    border: 10px solid rgba(18, 60, 68, 0.373);
    border-radius: 50%;
    border-right: 10px solid transparent;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(-80deg);
    transition: all 0.2s ease-in;
  }
  .replay-circle:hover {
    transform: translate(-50%,-50%) rotate(-60deg);
    box-shadow: inset 20px 6px 20px 0px rgba(255, 253, 253, 0.487);
  }

  .replay-circle-inner{
    position: relative;
    width: 70%;
    height: 70%;
    border: 10px solid rgba(18, 60, 68, 0.373);
    border-radius: 50%;
    border-right: 10px solid transparent;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(0deg)
  }
  .b1{
    position: absolute;
    bottom: 5px;
    height: 30px;
    width: 40px;
    background-color: red;
    border: 1px solid silver;
  }
