.grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 3.334vh);
    
    height: 100vh;
    width: 100vw;
    
}
 
.cell {
    z-index: 1;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(red 8%,transparent 50%);
  opacity: 0;
  overflow: hidden;
  transition: all 0.6s ease-in 0.2s;
}

.cell.marked {
    opacity: 1; 
}