.mosquito {
    position: absolute;
    width: 7vw;
    height: 10vw;
    object-fit: contain;
    z-index: 100;
    transform: translate(-50%,-50%) rotateY(0deg);
    pointer-events: none;
}


.fly {
    animation-name: fly;
    animation-duration: 0.05s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fly {
    0% {
       transform: translate(-50%,-50%) rotateY(0deg);
    }

    50% {
        transform: translate(-50%,-50%) rotateY(40deg);
    }

    100% {
        transform: translate(-50%,-50%) rotateY(0deg);
    }

}
